.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.headerTitle{
  /* move to header.css */
  font-family: Helvetica;
  font-size: 90px;
  position: static;
  text-align: center;
  text-decoration: none;
  /* width: 50%; */
  /* changed like button */
}
.App-link {
  color: #09d3ac;
}
div{
  margin: 30px;
}
body{
  background-color: rgb(71, 238, 135);
}
img{
  width: 100px;
}
button{
  display: inline-block;
  background-color:  rgb(71, 238, 135); /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  font: Helvetica;
  width: 50%;
  /* float: left; */
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.nowPlaying{
  border: 2px solid rgb(4, 148, 59);
}
.answers{
  font-size: 20px;
  font: helvetica;
}


/* .columnL {
  float: left;
  width: 50%;
}
.columnR {
  float: left;
  width: 50%;
} */
/* Clear floats after the columns */
/* .row:after {
  content: "";
  display: table;
  clear: both;
}
.row {
  display: flex;
}
.column {
  flex: 50%;
} */